{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="dashboard-menu">
        <a href="{{ url_for('new_sale') }}" class="dashboard-item">Nueva Venta</a>
        <a href="{{ url_for('list_sales') }}" class="dashboard-item">Mis Ventas</a>
        <a href="{{ url_for('my_commissions') }}" class="dashboard-item">Mis Comisiones</a>
        <a href="{{ url_for('list_clients') }}" class="dashboard-item">Mis Clientes</a>
        <a href="{{ url_for('list_winners') }}" class="dashboard-item">Ver Ganadores</a>
    </div>
</div>
{% endblock %}
