
{% extends 'layout.html' %}

{% block title %}Dashboard de Administrador{% endblock %}

{% block content %}
<div class="dashboard">
    <h1>Dashboard de Administrador</h1>
    <div class="dashboard-menu">
        <a href="{{ url_for('list_sellers') }}" class="dashboard-item">Vendedores</a>
        <a href="{{ url_for('list_sales') }}" class="dashboard-item">Ventas (Facturas)</a>
        <a href="{{ url_for('commissions_report') }}" class="dashboard-item">Comisiones</a>
        <a href="{{ url_for('list_raffles') }}" class="dashboard-item">Sorteos</a>
        <a href="{{ url_for('list_winners') }}" class="dashboard-item">Ganadores</a>
        <a href="{{ url_for('list_clients') }}" class="dashboard-item">Clientes</a>
    </div>
</div>
{% endblock %}
